## Final Assignment

#### Part 1. 
This AccessViz finds the from the datafolder all the matrices that the user has specified by assigning a list of integer
values that corresponds to YKR_ID found from the MetropAccess_YKR_grid. 
     - AccessViz should inform the user about how the execution process is going.

##### Find datafiles using os.path.join()-function. 
- This should work for all of the files in the Helsinki Travel Times folder, the user just has to pas the the YKR_IDs as a list of integers, with the seperator ';'. 
- I should also manage to tell the user how the executing process is going for the files.

In [25]:
import geopandas as gpd
import pandas as pd
import os

#read and take a look at the YKR_grid shp file 
grid_fp = 'data/MetropAccess_YKR_grid/MetropAccess_YKR_grid_EurefFIN.shp'

#THIS NEEDS TO BE MODIFIED!
YKR_ID = '5855714'
tt_fp = r'data/travel_times_to_ 5855714.txt'

#read the file
grid = gpd.read_file(grid_fp)
travel_times = pd.read_csv(tt_fp, sep=';')

#check the output
grid.head()
#travel_times.head()
#grid.crs

,x,y,YKR_ID,geometry
0,381875.0,6697880.0,5785640,"POLYGON ((382000.0001388059 6697750.000128186,..."
1,382125.0,6697880.0,5785641,"POLYGON ((382250.00013875 6697750.000128181, 3..."
2,382375.0,6697880.0,5785642,"POLYGON ((382500.0001386951 6697750.000128172,..."
3,382625.0,6697880.0,5785643,"POLYGON ((382750.0001386406 6697750.000128165,..."
4,381125.0,6697630.0,5787544,"POLYGON ((381250.000138978 6697500.000128254, ..."

#### PART 2: 
Create Shapefiles from the chosen Matrix text tables (e.g. travel_times_to_5797076.txt) by joining the Matrix file with MetropAccess_YKR_grid Shapefile where from_id in Matrix file corresponds to YKR_ID in the Shapefile. The tool saves the result in the output-folder that user has defined. You should name the files in a way that it is possible to identify the ID from the name (e.g. 5797076).

##### Join the two tables into one geodataframe based on YKR_ID and from_id

In [18]:
# Change the name of YKR_ID to from_id, to enable the join
grid.rename(columns={'YKR_ID': 'from_id'}, inplace=True)

# See the column names and confirm that we now have a column called 'from_id'
grid.head()

,x,y,from_id,geometry
0,381875.0,6697880.0,5785640,"POLYGON ((382000.0001388059 6697750.000128186,..."
1,382125.0,6697880.0,5785641,"POLYGON ((382250.00013875 6697750.000128181, 3..."
2,382375.0,6697880.0,5785642,"POLYGON ((382500.0001386951 6697750.000128172,..."
3,382625.0,6697880.0,5785643,"POLYGON ((382750.0001386406 6697750.000128165,..."
4,381125.0,6697630.0,5787544,"POLYGON ((381250.000138978 6697500.000128254, ..."

In [19]:
#join travel_times and grid to one table using 'from_id' into a data called tt_x:
tt_ = travel_times.merge(grid, on='from_id')

#check the output
tt_.head()

#set the CRS 
CRS = grid.crs

#make in into a geodataframe
tt_x = gpd.GeoDataFrame(tt_x, crs=CRS, geometry ='geometry')

#check the output
tt_x.head()

,from_id,to_id,walk_t,walk_d,bike_s_t,bike_f_t,bike_d,pt_r_tt,pt_r_t,pt_r_d,...,pt_m_t,pt_m_d,car_r_t,car_r_d,car_m_t,car_m_d,car_sl_t,x,y,geometry
0,5785640,5855714,270,18905,83,53,20141,153,134,23572,...,136,23572,40,23644,36,25263,28,381875.0,6697880.0,"POLYGON ((382000.0001388059 6697750.000128186,..."
1,5785641,5855714,233,16289,79,50,17537,163,137,23778,...,135,23778,34,23855,31,25474,24,382125.0,6697880.0,"POLYGON ((382250.00013875 6697750.000128181, 3..."
2,5785642,5855714,234,16368,79,50,17537,166,139,23896,...,137,23896,34,17573,31,17573,24,382375.0,6697880.0,"POLYGON ((382500.0001386951 6697750.000128172,..."
3,5785643,5855714,238,16661,88,55,19597,171,143,24189,...,141,24189,34,20130,31,20130,24,382625.0,6697880.0,"POLYGON ((382750.0001386406 6697750.000128165,..."
4,5787544,5855714,263,18416,80,51,19602,153,127,23083,...,129,23083,40,23218,36,24837,27,381125.0,6697630.0,"POLYGON ((381250.000138978 6697500.000128254, ..."

##### Save the geodataframe into shapefile which has a unique number (the YKR_ID)

In [20]:
tt_x.to_file(filename = YKR_ID)