## Final Assignment

#### Part 1. 
This AccessViz finds the from the datafolder all the matrices that the user has specified by assigning a list of integer
values that corresponds to YKR_ID found from the MetropAccess_YKR_grid. 
     - AccessViz should inform the user about how the execution process is going.

##### Find datafiles using os.path.join()-function. 
- This should work for all of the files in the Helsinki Travel Times folder, the user just has to pas the the YKR_IDs as a list of integers, with the seperator ';'. 
- I should also manage to tell the user how the executing process is going for the files.

In [45]:
import geopandas as gpd
import pandas as pd
import os

#read and take a look at the YKR_grid shp file 
grid_fp = 'data/MetropAccess_YKR_grid/MetropAccess_YKR_grid_EurefFIN.shp'

#THIS NEEDS TO BE MODIFIED!
tt_fp = r'data/travel_times_to_ 5855714.txt'

#read the file
grid = gpd.read_file(grid_fp)
travel_times = pd.read_csv(tt_fp, sep=';')

#check the output
grid.head()
travel_times.head()

,from_id,to_id,walk_t,walk_d,bike_s_t,bike_f_t,bike_d,pt_r_tt,pt_r_t,pt_r_d,pt_m_tt,pt_m_t,pt_m_d,car_r_t,car_r_d,car_m_t,car_m_d,car_sl_t
0,5785640,5855714,270,18905,83,53,20141,153,134,23572,167,136,23572,40,23644,36,25263,28
1,5785641,5855714,233,16289,79,50,17537,163,137,23778,173,135,23778,34,23855,31,25474,24
2,5785642,5855714,234,16368,79,50,17537,166,139,23896,173,137,23896,34,17573,31,17573,24
3,5785643,5855714,238,16661,88,55,19597,171,143,24189,173,141,24189,34,20130,31,20130,24
4,5787544,5855714,263,18416,80,51,19602,153,127,23083,155,129,23083,40,23218,36,24837,27

#### PART 2: 
Create Shapefiles from the chosen Matrix text tables (e.g. travel_times_to_5797076.txt) by joining the Matrix file with MetropAccess_YKR_grid Shapefile where from_id in Matrix file corresponds to YKR_ID in the Shapefile. The tool saves the result in the output-folder that user has defined. You should name the files in a way that it is possible to identify the ID from the name (e.g. 5797076).